//
// Chopstick settings
//

//Debug

$debug-mode: false;

// Typography

$alpha-font-family	: "elena-web-basic", serif;
$alpha-font-size	: 18; // pixel-value
$alpha-font-weight	: 400;
$alpha-line-height	: 1.4; // em-value
$alpha-baseline-grid: 8; // pixel-value
$alpha-leading		: 1; // multiplier

// $beta-font-family	: "elena-web-basic", sans-serif;
$beta-font-family	: "jaf-bernina-sans-narrow", sans-serif;
// $beta-font-family	: "tenso", sans-serif;
// $beta-font-family	: "news-gothic-std", sans-serif;
$beta-font-weight	: 700;

// Grid

$grid-gutter	: 40;
$grid-column	: 20;
$grid-columns	: 12;
$generate-xsmall 	: false;
$generate-small 	: false;
$generate-medium 	: false;
$generate-large 	: true;
$generate-xlarge 	: false;

// Breakpoints calculated in em's, always based on 16px base-value

$bp1: 320/16*1em;
$bp2: 480/16*1em;
$bp3: 680/16*1em;
$bp4: 960/16*1em;
$bp5: 1140/16*1em;

// the last breakpoint is calculated in shared/_grid.scss
// $bp5: #{1200 / $alpha-font-size}em;

// Modular scale settings

$ratio				: 1.1;
$importantnumber	: 18;
$leading			: 2;
$base-size			: $alpha-font-size/16*1em;

// manual modular scale font sizes
// based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

// UI

$radius			: 5px;
$border			: 1px;
$depth			: 0%; // Range: 0-100%
$contrast		: 91%; // Range: 0-100%
$shadow			: 21%; // Range: 0-100%
$highlight		: 0%; // Range: 0-100%

// Colors

// hsl(200, 5.5844%, 18.1006%)

$alpha-text-color	: hsl(220, 5, 20);
$beta-text-color	: hsl(hue($alpha-text-color),5,30);
$gamma-text-color	: hsl(hue($alpha-text-color),5,50);
$delta-text-color	: hsl(hue($alpha-text-color),5,60);
$jota-text-color	: hsl(hue($alpha-text-color),5,75);
$mu-text-color	: hsl(hue($alpha-text-color),5,95);

$alpha-ui-color		: hsl(150, 90, 45); // Primary elements
$beta-ui-color		: hsl(hue($alpha-text-color),5,80); // Secondary elements
$gamma-ui-color		: hsl(hue($alpha-text-color),5,92.5); // Used for borders
$delta-ui-color		: #FFF; // Used for backgrounds

$error-color 		: red;
$success-color 		: green;
$notice-color 		: yellow;

$error-color 		: #d00c00;
$success-color 		: #72aa2e;
$notice-color 		: #ffe38a;

// Links

$alpha-link-color			: $alpha-ui-color;
$alpha-link-colorhover		: darken($alpha-link-color, 10);
$alpha-link-colorfocus		: darken($alpha-link-color, 10);
$alpha-link-coloractive		: lighten($alpha-link-color, 10);
$alpha-link-colorvisited	: darken($alpha-link-color, 0);
