<footer class="holder footer-holder">
	<div class="row footer-row">
		<div class="footer col">
			<p class="footer-credits">
				&copy; 2014 Simon Coudeville. All rights reserved. Powered by Harmony and tracked by Gaug.es. To keep updated with new content, you might like to subscribe to my RSS feed.
			</p>
			<!-- <p class="footer-credits">My name is <a href="/">Simon Coudeville</a>. <br>I design and build interfaces for the web.</p> -->
			<!-- <p class="footer-social">
				<a href="https://twitter.com/simoncoudeville"><span class="icon icon-twitter"></span></a
				><a href="#"><span class="icon icon-dribble"></span></a
				><a href="#"><span class="icon icon-linkedin"></span></a>
			</p> -->
			<!-- <p class="footer-credits">
				And I love it.
			</p> -->
		</div>
	</div>
</footer>
