//
// Frame
//

.holder {
	position: relative;
	@include padding-tb(1,0);

	@include mq($bp3) {
		@include padding-tb(2,1);
		@include rem-padding-lr(1,1);
	}

	@include mq($bp4) {
		@include padding-tb(3,2);
	}

}

//
// Header
//

.header-holder {
	padding-bottom: 0;
}

.logo {
	font-weight: normal;
	margin-bottom: 0;
	@include text-dimensions(0,1,1);

	@include mq($bp3) {
		// float: left;
		@include text-dimensions(0,1,0);
	}

	a,
	a:visited {
		color: $alpha-link-color;
	}

}

.tag {
	display: none;
	font-style: italic;
	color: lighten($jota-text-color,0);
	opacity: .75;
	@include text-dimensions(-1,1,1);

	@include mq($bp3) {
		float: right;
		@include text-dimensions(-3,1,1);
	}

}

//
// Footer
//

.footer-holder {
	background-color: #fff;
	color: lighten($jota-text-color,0);
}

.footer-credits {
	@include text-dimensions(-2,.9,1);

	a {
		color: lighten($delta-text-color,0);
		background-image: linear-gradient(#fff 50%, $jota-text-color 50%);
		background-repeat: repeat-x;
		background-position: 0 1.1rem;
		background-size: 2px 2px;

		&:visited {
			background-image: linear-gradient(#fff 50%, $jota-text-color 50%);
		}

		&:hover {
			color: $alpha-link-color;
			background-image: linear-gradient(#fff 50%, $alpha-link-color 50%);
		}

	}

}

.footer-social {
	@include text-dimensions(2,1,1);

	a {
		display: inline-block;
		text-decoration: none;
		color: $delta-text-color;
		@include rem-padding-lr(.25,.25);

		&:hover {
			color: $alpha-ui-color;
		}

	}

}