//
// module: home
//

.intro-holder {
	background-color: transparent;
	@include padding-tb(2,1);

	@include mq($bp3) {
		@include padding-tb(4,2);
	}

	@include mq($bp4) {
		@include padding-tb(6,3);
	}

}

.intro {
	color: $gamma-ui-color;
}

.intro-title {
	margin-bottom: 0;
	color: $mu-text-color;
	@include mq($bp3) {
		@include text-dimensions(10,2.25,0);
	}

}

.intro-meta {
	color: lighten($jota-text-color,0);
	opacity: .75;
	@include text-dimensions(0,1,0,.5);
}