//
// module: home
//

.media {
	@extend %clearfix;
}

.media-title {
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0;
	@include text-dimensions(0,1,0);

	a {
		background-position: 0 1.2rem;
		background-size: 2px 2px;
	}

}

.media-meta {
	float: right;
	color: lighten($delta-text-color,0);

}

.list-media {

	.media-title {
		@include text-dimensions(0,1,0);

		a {
			background-position: 0 1.2rem;
			background-size: 2px 2px;
		}

	}

	.media-meta {
		float: right;
		@include text-dimensions(-2,1,0);
	}

}