//
// Typography
// ---
// Default markup for typographic elements, based on the settings file.
//

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $beta-font-family;
	margin: 0;
	color: $alpha-text-color;
	text-rendering: optimizelegibility;
}

h1 {
	// font-weight: 700;
	// font-weight: 300;
	font-weight: 600;
	@include text-dimensions(6,1.5,1);
}

h2 {
	font-weight: 600;
	@include text-dimensions(1,1,1,1);
}

h3,
.h3 {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	// @include text-dimensions(-2,1,1,.15);
	@include text-dimensions(-1,1,1);
	// @include text-dimensions(-2,1,0);
	// @include text-dimensions(-2,1,.75);
	// @include text-dimensions(0,1,1);
}

h4,
h5,
h6 {
	font-weight: 600;
	@include text-dimensions(0,1,1);
}

p,
ol,
ul,
dl,
table,
address,
pre {
	@include text-dimensions(0,1,1);
}

ul,
ol {
	padding-left: 1em;
}

blockquote {
	// font-family: $beta-font-family;
	// font-weight: 300;
	font-style: italic;
	color: $delta-text-color;
	text-align: center;
	@include padding-tb(1,1);

	p {
		@include text-dimensions(3,1.25,1);
	}

}

table {
	text-align: left;
	width: 100%;
	font-family: $alpha-font-family;
	border-spacing: 0;
	border-collapse: collapse;
	@include text-dimensions(14,1,2);
}

caption {
	font-family: $alpha-font-family;
	text-align: left;
	border-bottom: 1px solid lighten($alpha-text-color,50);
	font-weight: $beta-font-weight;
	text-align: center;
	@include padding-bottom(.5);
	@include margin-bottom(.5);
}

td,
th {
	padding: .25em 1em .25em 0;
	border-bottom: 1px solid lighten($gamma-ui-color, 10);
}

img {
	max-width: 100%;
}

//
// Links
//

a {
	text-decoration: none;
	color: $alpha-link-color;

	&:visited {
		color: $alpha-link-colorvisited;
	}

	&:hover {
		color: $alpha-link-colorhover;
	}

	&:focus {
		outline: thin dotted;
		color: $alpha-link-colorfocus;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.content {
	// text-align: justify;
	// -webkit-hyphens: auto;
	// -moz-hyphens: auto;
	// -ms-hyphens: auto;
	// hyphens: auto;
	// hyphenate-limit-lines: 2;

	a {
		background-image: linear-gradient(#fff 50%, $alpha-link-color 50%);
		background-repeat: repeat-x;

		&:visited {
			border-color: $alpha-link-colorvisited;
			background-image: linear-gradient(#fff 50%, $alpha-link-colorvisited 50%);
		}

		&:hover {
			background-image: linear-gradient(#fff 50%, $alpha-link-colorhover 50%);
		}

		&:focus {
			background-image: linear-gradient(#fff 50%, $alpha-link-colorfocus 50%);
		}

	}

	p {

		a {
			background-position: 0 1.2rem;
			background-size: 2px 2px;
		}

	}

	// h3 {

	// 	a {
	// 		background: none;
	// 		background-position: 0 1.2rem;
	// 		background-size: 2px 2px;

	// 		&:hover {
	// 			background: none;
	// 		}

	// 	}

	// }

}
